body {
    background-color: skyblue;
    width: 100%;
}
.container{
    width: 100%;
    display: none;
}
.opaque{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 35%;
    height: 100%;
    overflow: auto;
    z-index: 10;
}

.getForm {
    background-color: maroon;
    color: sandybrown;
    font-size: 20px;
    padding: 12px;
    border: solid 2px black;
    width: 100px;
    text-align: center;
    transition: .3s;
}

.getForm:hover {
    cursor: pointer;
    color: rgb(238, 194, 156);
    text-shadow: 1px 1px 2px skyblue;
    border-color: rgb(238, 194, 156);
    transition: .3s;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.34);
}

.hideForm {
    display: none;
}

.showForm {
    position: absolute;
    display: block;
    background-color: rgb(221, 149, 101);
    width: 300px;
    padding: 2em;
    border-radius: 5px;
    top: 10em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.34);
    z-index: 1000;
}
.showForm > div {
    border-bottom: solid 2px black;
    padding-top: 0.5em;
}

form > div > input {
    display: block;
    width: 100%;
    margin-top: 1em;
    text-align: left;
}

.showForm > .inlineBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;

}

#noborder {
    border-bottom: none;
    text-align: center;
    margin: 0.8em;
}

input,
input:focus,
input:active {
    background: none;
    border: none;
}

.bookShelf{
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}
.mainBook{
    margin: 5em;
    height: 200px;
    width: 150px;
    border: solid 1px black;

}
.authorBook{
    margin-top: 1em;
    text-align: center;
    padding: 2em 0;
}
.titleBook{
    text-align: center;
    padding-bottom: 4em;
}
.slideBook{
    position: relative;
    padding-top: 2em;
    border: solid 1px black;
    width: 150px;
    text-align: center;
     
}
.slideBook > div{
    display: inline-block;
    padding: 0 0.5em;
}
.pagesBook{
    
}
.readBook{
    
}
